body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.container{
    background-color: aliceblue;
    color: white;
    height: 450px;
    width: 450px;
    border-radius: 10px;
    padding: 100px;
    box-shadow:10px 15px 5px grey ;
}
.brand-title{
    color:rgb(8,151,239) ;
}
img{
    background: url(../images/profile\ logo.png);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
}
.inputs{
    text-align: center;
}
input,button,label{
    display: block;
    width: 100%;
    border: none;
}
label{
    color: rgb(8, 151, 239) ;
    margin-bottom: 10px;
}
input{
    padding: 10px;
    border-radius: 50px;
    height: 40px;
    box-shadow: 10px 15px 5px grey;
    margin-bottom: 15px;
}
button{
    background-color:rgb(16, 130, 237);
    color: white;
    padding: 10px;
    width: 450px;
    box-shadow: 10px 15px 5px grey;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 15px;
    font-weight: bold;
    cursor: pointer;
   }
